#box01 {
	margin-bottom: 5px;
}
#box02 {
	margin-bottom: 5px;
}
#product td {
	font: 13px Arial, Helvetica, sans-serif, Tahoma;
}

#tabmain  #tab img {
	margin-left: 4px;
}

#tabmain  #tab td {
	text-align: right;
}
#hbox01  {
	height: 44px;
}
#hbox01 h2 {
	margin-left: 5px;
}

#hbox02  {
	height: 30px;

}
#hbox02 h2 {
	margin-left: 5px;
}

.hboxtab  {
	vertical-align: bottom;
}
.hboxtab img {
	margin-right: 8px;
}
#bartool01  td {
	padding: 3px 8px;
}
#bartool01 img {
	margin-right: 4px;
}
#tableline01  td {
	border-bottom: 1px solid #f5f5f6;
	padding: 3px 8px;
}


#tableline01   td  a {
	text-decoration: underline;
	color: #1882bd;
}
#tableline01  td  a:hover {
	text-decoration: underline;
	color: #EC5A13;
}

.tableline01   td  a {
	text-decoration: underline;
	color: #1882bd;
}
.tableline01  td  a:hover {
	text-decoration: underline;
	color: #EC5A13;
}
#tableline02 td {
	border-bottom: 1px dotted #dedfe0;
	padding: 8px 4px;
	font-size: 13px;
	color: #666666;
}
#tableline03 td {
	border-bottom: 1px dotted #dedfe0;
	padding: 4px;
	font-size: 13px;
	color: #666666;
}
#tableline03 a {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
#tableline03 a:hover {
	color: #ec5a13;
	text-decoration: underline;
}
#tableline02 #h {
	font-weight: bold;
	text-decoration: none;
	padding-bottom: 6px;
}

#tableline02 a {
	color: #000000;
	text-decoration: none;
}
#tableline02 a:hover {
	text-decoration: underline;
	color: #0198ab;
}




#footbox {
	margin-top: 8px;
	margin-bottom: 8px;
	color: #2e3438;
}
.subh01 {
        text-align: left;
	font-size: 11px;
	color: #0198ab;
	text-decoration: none;
	background: url('#{request.contextPath}/img/bgsum.gif') repeat-x bottom;
}
.subh02 {
	font-size: 11px;
	color: #585e60;
	text-decoration: none;
	background: url('#{request.contextPath}/img/bgsum.gif') repeat-x bottom;
}
.subh03 {
	font-size: 11px;
	color: #0198ab;
	text-decoration: none;
	background: url('#{request.contextPath}/img/bgsum.gif') repeat-x bottom;
}
a.subh03 {
	font-size: 11px;
	color: #0198ab;
	text-decoration: none;
	margin-right: 6px;
	margin-left: 6px;
}
a.subh03:hover {
	font-size: 11px;
	color: #0198ab;
	text-decoration: none;
	margin-right: 6px;
	margin-left: 6px;
	border-bottom: 3px solid #0198AB;
}
.subh04 {
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	background: #f2f2f2 url(../img/bgsum2.gif) repeat-x bottom;
}


#textfieldsearch {
	background: url(../img/bgsearch.png) no-repeat right;
	width: 195px;
	height: 16px;
	border-style: none;
	border-width: 0px;
	vertical-align: middle;
	padding-top: 4px;
	padding-bottom: 4px;
}
#tablelist01   td {
	padding: 2px 8px 1px;
}
#tablelist02 td {
	padding: 2px 8px;
}
#tablelist03 td {
	padding: 1px 8px;
}
#tablelistif   {
	padding: 10px;
}
a.more  {
	text-decoration: none;
	font-weight: bold;
	color: #0198ab;
	font-size: 12px;
}
a.more:hover {
	text-decoration: underline;
	font-weight: bold;
	color: #0198ab;
}
#boxsearch02  td {
	padding: 1px;
}
#boxsearch02 {
	margin-top: 0px;
	margin-bottom: 0px;
}


#boxsearch01  {
	border-bottom: 1px dotted #dedfe0;
	padding-top: 4px;
	padding-bottom: 4px;
	background: #e4e4d6;
}
.bghsearch {
	background: url(../img/bgsearch.gif) repeat-y 50%;
}

#nub {
	text-align: center;
}
a.nub1   {
	line-height: 24px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
	margin-right: 5px;
	font-size: 12px;
	padding: 5px;
	margin-left: 5px;
}
a.nub1:hover      {
	background-color: #0198ab;
	color: #FFFFFF;
	text-decoration: none;
	padding: 5px;
}
.nub2  {
	font-size: 13px;
	color: #0198ab;
	padding: 5px;
	margin-right: 5px;
	width: 25px;
	margin-left: 5px;
	font-weight: bold;
}



#nub3 {
	float: right;
	font-size: 13px;
	margin-top: 5px;
}



#nub3  a   {
	color: #0198ab;
	text-decoration: none;
	padding: 4px;
}
#nub3 a:hover {
	text-decoration: underline;
}
a.nub4   {
	line-height: 24px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal;
	background-color: #0198ab;
	margin-right: 5px;
	font-size: 12px;
	padding: 5px;
	margin-left: 5px;
}
a.nub4:hover      {
	background-color: #0198ab;
	color: #FFFFFF;
	text-decoration: none;
	padding: 5px;
}
.textfield01 {
	width: 200px;
	font-size: 12px;
}
.textfield02 {
	width: 30px;
	font-size: 12px;
}
.textfield03 {
	width: 400px;
	font-size: 12px;
}
.textfield04 {
	width: 40px;
	font-size: 12px;
}
.textfield05 {
	width: 80px;
	font-size: 10px;
}
.textfield06 {
	width: 300px;
	border: 1px dashed #999999;
}
.textfield07 {
	width: 100px;
	font-size: 12px;
}
.textfield08 {
	width: 80px;
	font-size: 12px;
}



.select01 {
	width: 106px;
	font-size: 12px;
}
.select02 {
	width: 100px;
	font-size: 12px;
}
.select07 {
	width: 206px;
	font-size: 12px;
}




#bbb img {
	margin: 8px 4px 2px;
}

#bbb {
}

.sicon img {
	margin-right: 4px;
	vertical-align: baseline;
	margin-left: 4px;
}

#tree td {
	padding-top: 4px;
	padding-bottom: 2px;
}
#hcontent {
	color: #ec5a13;
	font-weight: bold;
	text-decoration: none;
	padding-top: 15px;
	padding-bottom: 15px;
}
#contentinfo {
	padding-bottom: 10px;
	padding-right: 10px;
}

.treeline {
	border-bottom: 1px dotted #8a9295;
}
.line01 {
	border-bottom: 1px dotted #CCCCCC;
	padding-bottom: 4px;
	padding-top: 8px;
}
.line02 {
	padding: 16px;
	border-top: 1px dotted #CCCCCC;
}
.line03 {
	border-bottom: 1px solid #E5E5E5;
	padding-bottom: 2px;
	padding-top: 2px;
}
.line04 {
	border-bottom: 2px solid #585e60;
	padding-bottom: 2px;
	padding-top: 2px;
}
.bgline {
	background: #eeeee5 url(../img/bgline.png) repeat-x left top;
}




#hproduct  {
	font-weight: bold;
	text-decoration: none;
	padding-bottom: 8px;
	color: #ec5a13;
	font-size: 14px;
}

#hproduct  a  {
	font-weight: bold;
	text-decoration: none;
	padding-bottom: 6px;
	color: #ec5a13;
	font-size: 14px;
}

#hproduct  a:hover  {
	text-decoration: underline;
}
.hilightmenu {
	color: #FFFFFF;
	background: #f3f2e8;
}
#hboxtab02 {
	vertical-align: bottom;
	background: url(../img/bgtabmenu.gif) repeat-x;
}
#hboxtab02 a {
	margin-right: 5px;
	margin-left: 5px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
}
#textedit {
	padding: 10px;
	border: 1px dashed #999999;
}
#number   td       {
	margin: 0px;
	padding: 0px;
}
#tableline04 td {
	font-size: 13px;
	padding: 2px 7px;
}
#tableline04 td a {
	text-decoration: underline;
	color: #1882bd;
}
#tableline04 td a:hover {
	text-decoration: underline;
	color: #EC5A13;
}
.lineright {
	border-right: 1px dotted #cbcbc3;
}
.edit {
	border-bottom: 1px dashed #1882bd;
	line-height: 20px;
}
#btele img {
	margin-right: 8px;
	margin-left: 8px;
}

.nameColumn {
    text-align: left;
}

.textfield {
	background-color:transparent;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #000;
	margin: 0px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}

.sideBar{
        position: absolute;
        width: auto;
        height: auto;
        top: 160px;
        left: 12px;
}

.sideBarTab{
        float:left;
        position: relative;
        top:20px;
        width:22px;
}

#sideBarTab img{
        border:0px solid #FFFFFF;
}

#sideBarContents{
        overflow:hidden !important;
        float:left;
        display:none;
}

#sideBarContentsInner{
        width:500px;
}
.swap{
    cursor: pointer;
}
